root = true

[*]

indent_style = space
max_line_length = 200
brace_style = end_of_line

# IntelliJ IDEA properties
ij_any_block_brace_style = end_of_line

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = protected, private, public, internal, file, new, sealed, override, abstract, virtual, static, readonly, extern, unsafe, volatile, async, required:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_constructors = true:none
csharp_style_expression_bodied_methods = true:none
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_sort_usings_with_system_first = true
csharp_default_private_modifier = implicit
csharp_default_internal_modifier = implicit
csharp_method_or_operator_body = expression_body
csharp_local_function_body = expression_body
csharp_constructor_or_destructor_body = expression_body
csharp_accessor_owner_body = expression_body
csharp_namespace_body = file_scoped
csharp_use_heuristics_for_body_style = false
csharp_force_attribute_style = separate
csharp_object_creation_when_type_evident = tartget_typed
csharp_object_creation_when_type_not_evident = tartget_typed
csharp_default_value_when_type_evident = default_literal
csharp_default_value_when_type_not_evident = default_literal
csharp_null_checking_pattern_style = not_null_pattern
csharp_remove_blank_lines_near_braces_in_declarations = true
csharp_blank_lines_after_file_scoped_namespace_directive = 1
csharp_blank_lines_around_type = 1
csharp_blank_lines_inside_type = 0
csharp_blank_lines_around_single_line_auto_property = 0
csharp_blank_lines_around_invocable = 1
csharp_remove_blank_lines_near_braces_in_code = true
csharp_blank_lines_before_control_transfer_statements = 1
csharp_space_around_binary_operator = true
csharp_space_after_unary_operator = false
csharp_indent_nested_usings_stmt = true
csharp_int_align_parameters = true
csharp_int_align_variables = true
csharp_int_align_assignments = true
csharp_int_align_nested_ternary = true
csharp_int_align_invocations = false
csharp_int_align_comments = true
csharp_int_align_switch_sections = true
csharp_int_align_switch_expressions = true
csharp_builtin_type_reference_style = use_keyword
csharp_place_expr_method_on_single_line = if_owner_is_single_line
csharp_place_expr_property_on_single_line = if_owner_is_single_line
csharp_place_expr_accessor_on_single_line = if_owner_is_single_line
csharp_wrap_before_arrow_with_expressions = true
csharp_wrap_before_first_type_parameter_constraint = true
csharp_wrap_multiple_type_parameter_constraints_style = chop_if_long
csharp_wrap_before_type_parameter_langle = false
csharp_wrap_before_extends_colon = true
csharp_wrap_extends_list_style = chop_if_long
csharp_keep_existing_arrangement = true
csharp_place_simple_blocks_on_single_line = true
csharp_place_simple_method_on_single_line = false
csharp_max_enum_members_on_line = 0
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_place_simple_case_statement_on_same_line = true
csharp_wrap_before_ternary_opsigns = true
csharp_empty_block_style = together
csharp_wrap_parameters_style = chop_if_long
csharp_max_formal_parameters_on_line = 5
csharp_place_constructor_initializer_on_same_line = false
csharp_place_simple_initializer_on_single_line = true
csharp_max_initializer_elements_on_line = 0
dotnet_naming_rule.parameters_rule.import_to_resharper = as_predefined
dotnet_naming_rule.parameters_rule.resharper_style = aaBb, __ + aaBb
dotnet_naming_rule.parameters_rule.severity = warning
dotnet_naming_rule.parameters_rule.style = lower_camel_case_style
dotnet_naming_rule.parameters_rule.symbols = parameters_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.types_and_namespaces_rule.import_to_resharper = as_predefined
dotnet_naming_rule.types_and_namespaces_rule.resharper_style = AaBb, AaBb_AaBb
dotnet_naming_rule.types_and_namespaces_rule.severity = warning
dotnet_naming_rule.types_and_namespaces_rule.style = upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule.symbols = types_and_namespaces_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.parameters_symbols.applicable_accessibilities = *
dotnet_naming_symbols.parameters_symbols.applicable_kinds = parameter
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities = *
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds = namespace,class,struct,enum,delegate
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_require_accessibility_modifiers = never:suggestion
object_creation_when_type_evident = target_typed
object_creation_when_type_not_evident = target_typed

resharper_max_attribute_length_for_same_line = 80
resharper_nested_ternary_style = expanded
resharper_outdent_binary_ops = true

file_header_template = Copyright (C) Eventuous HQ OÜ.All rights reserved\nLicensed under the Apache License, Version 2.0.

# ReSharper properties
resharper_redundant_using_directive_highlighting = error
resharper_align_linq_query = true
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_expression_braces = true
resharper_align_ternary = none
resharper_apply_auto_detected_rules = false
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_property = 0
resharper_blank_lines_around_single_line_local_method = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_blank_lines_before_multiline_statements = 1
resharper_braces_for_dowhile = required_for_multiline
resharper_braces_for_fixed = required_for_multiline
resharper_braces_for_for = required_for_multiline
resharper_braces_for_foreach = required_for_multiline
resharper_braces_for_lock = required_for_multiline
resharper_braces_for_using = required_for_multiline
resharper_braces_for_while = required_for_multiline
resharper_cpp_brace_style = end_of_line
resharper_cpp_remove_blank_lines_near_braces_in_code = false
resharper_cpp_remove_blank_lines_near_braces_in_declarations = false
resharper_csharp_empty_block_style = together
resharper_csharp_indent_method_decl_pars = outside_and_inside
resharper_csharp_insert_final_newline = true
resharper_csharp_int_align_comments = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_before_first_type_parameter_constraint = true
resharper_csharp_wrap_before_invocation_rpar = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_indent_nested_usings_stmt = true
resharper_int_align_assignments = true
resharper_int_align_binary_expressions = true
resharper_int_align_fields = true
resharper_int_align_nested_ternary = true
resharper_int_align_parameters = true
resharper_int_align_properties = true
resharper_int_align_switch_expressions = true
resharper_int_align_switch_sections = true
resharper_int_align_variables = true
resharper_line_break_after_colon_in_member_initializer_lists = line_break
resharper_local_function_body = expression_body
resharper_max_enum_members_on_line = 0
resharper_max_formal_parameters_on_line = 5
resharper_max_initializer_elements_on_line = 0
resharper_member_initializer_list_style = on_single_line
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_accessor_with_attrs_holder_on_single_line = true
resharper_place_constructor_initializer_on_same_line = true
resharper_place_simple_accessorholder_on_single_line = true
resharper_place_simple_case_statement_on_same_line = true
resharper_place_simple_embedded_block_on_same_line = true
resharper_place_simple_enum_on_single_line = true
resharper_show_autodetect_configure_formatting_tip = false
resharper_simple_case_statement_style = line_break
resharper_simple_embedded_statement_style = line_break
resharper_space_after_ptr_in_data_member = false
resharper_space_after_ptr_in_method = false
resharper_space_after_ref_in_data_member = false
resharper_space_after_ref_in_method = false
resharper_space_before_ptr_in_abstract_decl = true
resharper_space_before_ptr_in_data_member = true
resharper_space_before_ptr_in_method = true
resharper_space_before_ref_in_abstract_decl = true
resharper_space_before_ref_in_data_member = true
resharper_space_before_ref_in_method = true
resharper_use_continuous_line_indent_in_expression_braces = true
resharper_use_continuous_line_indent_in_method_pars = true
resharper_use_indent_from_vs = false
resharper_wrap_after_expression_lbrace = false
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_before_expression_rbrace = false
resharper_wrap_before_extends_colon = true
resharper_wrap_before_type_parameter_langle = true
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_lines = true
resharper_wrap_linq_expressions = chop_always

# ReSharper inspection severities
resharper_arrange_local_function_body_highlighting = suggestion
resharper_arrange_this_qualifier_highlighting = none
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_class_never_instantiated_global_highlighting = none
resharper_convert_to_local_function_highlighting = hint
resharper_enforce_do_while_statement_braces_highlighting = suggestion
resharper_enforce_fixed_statement_braces_highlighting = suggestion
resharper_enforce_foreach_statement_braces_highlighting = suggestion
resharper_enforce_for_statement_braces_highlighting = suggestion
resharper_enforce_lock_statement_braces_highlighting = suggestion
resharper_enforce_using_statement_braces_highlighting = suggestion
resharper_enforce_while_statement_braces_highlighting = suggestion
resharper_invert_if_highlighting = none
resharper_parameter_type_can_be_enumerable_global_highlighting = none
resharper_return_type_can_be_enumerable_local_highlighting = none
resharper_suggest_base_type_for_parameter_in_constructor_highlighting = none
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_template_is_not_compile_time_constant_problem_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[*.{appxmanifest,asax,ascx,aspx,axaml,build,c,c++,cc,cginc,compute,cp,cpp,cppm,cs,cshtml,cu,cuh,cxx,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,nuspec,paml,razor,resw,resx,skin,tpp,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
