root = true

[*]

indent_style = space
max_line_length = 160
brace_style = end_of_line

# IntelliJ IDEA properties
ij_any_block_brace_style = end_of_line

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = control_blocks
csharp_preferred_modifier_order = protected, private, public, internal, file, new, override, abstract, virtual, sealed, readonly, static, extern, unsafe, volatile, async, required:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_methods = true:none
csharp_style_expression_bodied_properties = true:suggestion
csharp_using_directive_placement = outside_namespace
csharp_style_var_for_built_in_types = true
csharp_sort_usings_with_system_first = true
csharp_default_private_modifier = implicit
csharp_default_internal_modifier = implicit
csharp_method_or_operator_body = expression_body
csharp_local_function_body = expression_body
csharp_constructor_or_destructor_body = expression_body
csharp_accessor_owner_body = expression_body
csharp_namespace_body = file_scoped
csharp_use_heuristics_for_body_style = false
csharp_force_attribute_style = separate
csharp_object_creation_when_type_evident = tartget_typed
csharp_object_creation_when_type_not_evident = tartget_typed
csharp_default_value_when_type_evident = default_literal
csharp_default_value_when_type_not_evident = default_literal
csharp_null_checking_pattern_style = not_null_pattern
csharp_remove_blank_lines_near_braces_in_declarations = true
csharp_blank_lines_after_file_scoped_namespace_directive = 1
csharp_blank_lines_around_type = 1
csharp_blank_lines_inside_type = 0
csharp_blank_lines_around_single_line_auto_property = 0
csharp_blank_lines_around_invocable = 1
csharp_remove_blank_lines_near_braces_in_code = true
csharp_blank_lines_before_control_transfer_statements = 1
csharp_space_around_binary_operator = true
csharp_space_after_unary_operator = false
csharp_indent_nested_usings_stmt = true
csharp_int_align_parameters = true
csharp_int_align_variables = true
csharp_int_align_assignments = true
csharp_int_align_nested_ternary = true
csharp_int_align_invocations = false
csharp_int_align_comments = true
csharp_int_align_switch_sections = true
csharp_int_align_switch_expressions = true
csharp_builtin_type_reference_style = use_keyword
csharp_place_expr_method_on_single_line = if_owner_is_single_line
csharp_place_expr_property_on_single_line = if_owner_is_single_line
csharp_place_expr_accessor_on_single_line = if_owner_is_single_line
csharp_wrap_before_arrow_with_expressions = true
csharp_wrap_before_first_type_parameter_constraint = true
csharp_wrap_multiple_type_parameter_constraints_style = chop_if_long
csharp_wrap_before_type_parameter_langle = true
csharp_wrap_before_extends_colon = true
csharp_wrap_extends_list_style = chop_if_long
csharp_keep_existing_arrangement = false
csharp_place_simple_blocks_on_single_line = true
csharp_place_simple_method_on_single_line = false
csharp_max_enum_members_on_line = 0
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_place_simple_case_statement_on_same_line = true
csharp_wrap_before_ternary_opsigns = true
csharp_empty_block_style = together
csharp_wrap_parameters_style = chop_if_long
csharp_max_formal_parameters_on_line = 5
csharp_place_constructor_initializer_on_same_line = false
csharp_place_simple_initializer_on_single_line = true
csharp_max_initializer_elements_on_line = 0

resharper_max_attribute_length_for_same_line = 80
resharper_nested_ternary_style = expanded
resharper_outdent_binary_ops = true

file_header_template = Copyright (C) Ubiquitous AS.All rights reserved\nLicensed under the Apache License, Version 2.0.
