
[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = accessors,anonymous_methods,control_blocks,events,indexers,lambdas,properties

# ReSharper properties
resharper_blank_lines_after_control_transfer_statements = 1
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_around_single_line_auto_property = 0
resharper_blank_lines_around_single_line_field = 0
resharper_blank_lines_before_control_transfer_statements = 0
resharper_csharp_align_multiline_binary_expressions_chain = true
resharper_csharp_blank_lines_around_single_line_field = 0
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_int_align_comments = true
resharper_csharp_other_braces = end_of_line
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_int_align_assignments = true
resharper_int_align_fields = true
resharper_int_align_parameters = true
resharper_int_align_properties = true
resharper_nested_ternary_style = expanded
resharper_outdent_binary_ops = true
resharper_place_expr_method_on_single_line = false
resharper_place_expr_property_on_single_line = true
resharper_place_simple_embedded_statement_on_same_line = true
resharper_space_within_single_line_array_initializer_braces = true
resharper_wrap_object_and_collection_initializer_style = chop_if_long
resharper_wrap_parameters_style = wrap_if_long
