<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="ubiquitous" value="https://gitlab.ubiquitous.no/api/v4/groups/19/-/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <ubiquitous>
            <add key="Username" value="gitlab+deploy-token-14" />
            <add key="ClearTextPassword" value="A1xbwu5TtX7WpzBQkHnc" />
        </ubiquitous>
    </packageSourceCredentials>
</configuration>
