name: Publish Preview NuGet

on:
  push:
    branches:
      - dev
    paths-ignore:
      - 'docs/**/*'
      - '**.md'
      - '**.scss'
      - '**.toml'
      - '**.html'

jobs:
  nuget:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'
      - name: Create and push NuGet package
        run: |
          dotnet pack -c Debug -o nuget
          dotnet nuget push nuget/**/*.nupkg --skip-duplicate --api-key ${{ secrets.MYGET_API_KEY }} --source https://www.myget.org/F/eventuous/api/v2/package
        env:
          NUGET_AUTH_TOKEN: ${{ github.token }}
